.task {
	display: flex;
	color: #464646;
	font-size: 36px;
	font-weight: 600;
	gap: 28px;
}

.completed {
	color: #cdcdcd;
	text-decoration: line-through;
}

.icon {
	display: block;
	width: 0.6em;
	height: 0.6em;
	margin-top: 0.4em;
}
