.input {
	border: 3px solid #c4c4c4;
	border-width: 0 0 3px 0;
	color: #4a4a4a;
	font-size: 36px;
	font-weight: 600;
	outline: none;
	width: 100%;
}

.input::placeholder {
	color: #d4d4d4;
}

.input:focus-visible {
	border-color: #464646;
}
